# Arquivo .gitignore para um projeto .NET com Frontend (Node.js)

# Binários e arquivos de compilação do .NET
[Bb]in/
[Oo]bj/

# Arquivos de usuário e de IDE
*.user
*.suo
.idea/
.vscode/

# Bancos de Dados Locais
*.db
*.mdf
*.ldf

# Logs e Backups
[Ll]ogs/
*.log
*.bak
*.backup
*.old
Program.cs.* # Ignora todos os backups de Program.cs
appsettings.json.* # Ignora todos os backups de appsettings.json
Backups/

# Dependências do Node.js
node_modules/
npm-debug.log

# Arquivos de dados e CSV de exemplo
*.csv

# Arquivos do Sistema Operacional
Thumbs.db
.DS_Store

# Arquivos de configuração de ambiente de desenvolvimento
appsettings.Development.json