# Binários e arquivos de compilação do .NET
[Bb]in/
[Oo]bj/

# Arquivos de usuário e de IDE
*.user
*.suo
.idea/
.vscode/

# Bancos de Dados Locais
*.db
*.mdf
*.ldf

# Logs, Backups e arquivos temporários
[Ll]ogs/
*.log
*.bak
*.old
*backup*
*.backup.*

# Dependências do Node.js
node_modules/
npm-debug.log

# Arquivos de dados e CSV de exemplo
*.csv

# Arquivos do Sistema Operacional
Thumbs.db
.DS_Store

# Arquivos de configuração de ambiente de desenvolvimento
appsettings.Development.json
